*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #164fb3;
    /* --color-secondary: #1DA1F2; */
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;

    --color-fb: #1877F2;
    --color-git: #131418;
    --color-linkedin: #0A66C2;
    --color-tw: #1DA1F2;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body{
    background-color: var(--color-primary);
    /* background-image: url("w1.jpeg"); */
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height:  100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
}


section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}
  
.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all 0.4s ease-in-out;
    background-color: var(--color-primary);
}
  
.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
}

@keyframes appear {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
}



/* controlos from the side */
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}
  
.controls .control {
    padding: 2rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
}

.controls .control i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

.controls .active-btn {
    background-color: var(--color-secondary);
    transition: all 0.4s ease-in-out;
}

.controls .active-btn i {
    color: var(--color-white);
}



/* header */
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }




  .header-content .left-header {
    display: flex;
    align-items: center;
    position: relative;
    /* padding-left: ; */
  }

.header-content .left-header .image {
    border-radius: var(--br-sm-2);
    height: 90%;
    width: 68%;
    margin-left: 4rem;

    background-color: var(--color-black);
    transition: all 0.4s ease-in-out;
}

.header-content .left-header .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.header-content .left-header .image img:hover {
    filter: grayscale(0);
}

.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}

.header-content .right-header .name {
  font-size: 3rem;
}

.header-content .right-header .name span {
  color: var(--color-secondary);
}


.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}


/* about me */
.main-title h2{
  font-size: 3rem;
  text-align: center;
}

.main-title h2 span{
  color: var(--color-secondary);
}

.main-Projects h2{
  font-size: 3rem;
  text-align: center;
}

.main-Projects h2 span{
  color: var(--color-secondary);
}


/*btn */
/*Independed components*/
.btn-con {
    display: flex;
    align-self: flex-start;
    align-items: center;
}
  
.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;
}

.main-btn .btn-text {
    padding: 0 2rem;
}

.main-btn .btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}


/* sa */
.contact-center {
  /* display: flex; */
  padding-top: 10rem;
  /* flex: 1; */
}

.contact-center h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-center p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-center .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.contact-center .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-center .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-center .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-center .contact-icons .contact-icon {
  display: flex;
  margin-top: 7rem;
  justify-content: center;
  align-items: center;

}
.contact-center .contact-icons .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);

  cursor: pointer;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}

.contact-center .contact-icons .contact-icon a:hover{
  background-color: var(--color-secondary);
}

.contact-center .contact-icons .contact-icon a:hover i {
  color: var(--color-white);
}
.contact-center .contact-icons .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}




/* about me */

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-container .left-about {
  padding-right: 5rem;
}

.about-container .left-about p {
  margin: 1.5rem 0;
  line-height: 1.6rem;
  color: var(--color-grey-1);
}

.about-container .left-about h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
}


.about-container .right-about .image {
  border-radius: var(--br-sm-2);
  margin-left: 1rem;

  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}

.about-container .right-about .image img {

  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.about-container .right-about .image img:hover {
  filter: grayscale(0);
}



.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

.about-skills .programming-skills{
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}


.about-skills .programming-skills .about-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.about-skills .programming-skills .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.about-skills .programming-skills .about-item .abt-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.about-skills .programming-skills .about-item .abt-text .large-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-secondary);
}


/*Timeline*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--color-grey-2);
}


/* portofolio */
/* padding-right: 5rem; */


.All-Projects .Project {
  padding: 64px;
}

.All-Projects .Project .row:after {
  content: "";
  display: table;
  clear: both
}

.All-Projects .Project .row .column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.All-Projects .Project .row .column-33 {
  float: left;
  /* float: bottom; */
  width: 33.33333%;
  padding: 20px;
}

.All-Projects .Project .row .column-66 .large-font {
  font-size: 40px;
}

.All-Projects .Project .row .column-66 .xlarge-font {
  font-size: 50px
}

.All-Projects .Project .row .column-66 .button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1DA1F2;
}

.All-Projects .Project .row .column-66 img {
  display: block;
  height: auto;
  max-width: 100%;
}

.All-Projects .Project .row .column-33 img {
  display: block;
  height: auto;
  max-width: 100%;
}



@media screen and ((max-width: 1000px) and (min-width: 970px)) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
@media screen and ((max-width: 1432px) and (min-width: 1250px)) {
    .container {
      padding: 7rem 11rem;
    }
  
    .contact-center {
      flex-direction: column;
    }
    
    .contact-center .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  
    .contact-center .right-contact .i-c-2 {
      flex-direction: column;
    }
  
    .contact-center .right-contact .i-c-2 :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  
    .contact-center .right-contact {
      margin-bottom: 6rem;
    }
  
    .main-title h2 .bg-text {
      font-size: 5.5rem;
    }
}

@media screen and ((max-width: 1250px) and (min-width: 1070px)) {
    .blogs {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 6rem;
    }
  
    .portfolios {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .header-content .right-header {
      padding-right: 9rem;
    }
}
@media screen  and (max-width: 390px) {
  header{
    padding: 0 !important;
  }

  .header-content{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }


  .right-header{
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header  .name{
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 3rem;
  }

  .header-content .left-header .image{
    margin: 0 auto;
    height: 95%;
    width: 65%;
  }

  .header-content .left-header .image img {
    width: 100%;
    height: 100%;
  }  

  .controls{
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }

  .controls .control{
      margin: 1rem .3rem;
  }


  .about-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about{
    grid-template-columns: repeat(1, 1fr);
   
  }
  .about-container .right-about .image{
    margin: 0 auto;
   
  }
  .about-container .right-about .image img {

    height: 200px;
    width: 310px;
  }


  
  
  .left-about{
        padding-right: 0rem;
        padding-left: 0rem;
  }      
  /* .left-about  p{
            padding-left: 0;
  }
     */

  .about-skills .programming-skills{
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .container{
    padding: 2rem 2.5rem !important;
  }


  .All-Projects{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }



  .contact-content-con{
    flex-direction: column;
  }
  .contact-content-con  .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
  }
    

  .contact-content-con .right-contact .i-c-2{
      flex-direction: column;
  }
  
  .contact-content-con .right-contact .i-c-2 :last-child{
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact{
    margin-bottom: 6rem;
  }

  .contact-item{
    flex-direction: column;
    margin: 1rem 0;
  }  
  .contact-item  p{
        font-size: 15px;
        color: var(--color-grey-2);
  }
  .contact-item p  span{
        font-size: 15px;
  }
  .contact-item p  .icon{
        grid-template-columns: 25px 1fr;
  }


  .main-title h2{
    font-size: 2rem;
  }      
  .main-title h2  span{
    font-size: 2.3rem;
  }
  .main-title h2  .bg-text{
    font-size: 2.3rem;
  }

  .All-Projects .Project{
    padding: 20px;
  }



  .All-Projects .Project .row .column-66 {
    width: 100%;
  }
  
  .All-Projects .Project .row .column-33 {
    width: 100%;
  }
  
  .All-Projects .Project .row .column-66 .large-font {
    font-size: 30px;
  }
  
  .All-Projects .Project .row .column-66 .xlarge-font {
    font-size: 40px
  }
  
  .All-Projects .Project .row .column-66 .button {
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .All-Projects .Project .row .column-66 img {
    display: block;
    height: 50px;
    max-width: 70%;
  }
  
  .All-Projects .Project .row .column-33 img {
    display: block;
    height: auto;
    max-width: 85%;
  }
  
}

@media screen and (max-width: 480px) and (min-width: 390px){
  header{
    padding: 0 !important;
  }

  .header-content{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }


  .right-header{
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header  .name{
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 3rem;
  }

  .header-content .left-header .image{
    margin: 0 auto;
    height: 85%;
    width: 55%;
  }

  .header-content .left-header .image img {
    width: 100%;
    height: 100%;
  }  

  .controls{
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }

  .controls .control{
      margin: 1rem .3rem;
  }


  .about-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about{
    grid-template-columns: repeat(1, 1fr);
    /* padding-top: 2.5rem; */
    /* margin-left: 0; */
    /* padding-left: 0; */
    /* grid-gap:1rem; */
  }
  .about-container .right-about .image{
    margin: 0 auto;
    /* transform: scale(0.9); */
    /* height: 100%; */
    /* width: 80%; */
  }
  .about-container .right-about .image img {

    height: 300px;
    width: 400px;
  }


  
  
  .left-about{
        padding-right: 0;
  }      
  .left-about  p{
            padding-left: 0;
  }
    

  .about-skills .programming-skills{
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .container{
    padding: 2rem 2.5rem !important;
  }


  .All-Projects{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }



  .contact-content-con{
    flex-direction: column;
  }
  .contact-content-con  .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
  }
    

  .contact-content-con .right-contact .i-c-2{
      flex-direction: column;
  }
  
  .contact-content-con .right-contact .i-c-2 :last-child{
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact{
    margin-bottom: 6rem;
  }

  .contact-item{
    flex-direction: column;
    margin: 1rem 0;
  }  
  .contact-item  p{
        font-size: 15px;
        color: var(--color-grey-2);
  }
  .contact-item p  span{
        font-size: 15px;
  }
  .contact-item p  .icon{
        grid-template-columns: 25px 1fr;
  }


  .main-title h2{
    font-size: 2rem;
  }      
  .main-title h2  span{
    font-size: 2.3rem;
  }
  .main-title h2  .bg-text{
    font-size: 2.3rem;
  }




  .All-Projects .Project .row .column-66 {
    width: 100%;
  }
  
  .All-Projects .Project .row .column-33 {
    width: 100%;
  }
  
  .All-Projects .Project .row .column-66 .large-font {
    font-size: 40px;
  }
  
  .All-Projects .Project .row .column-66 .xlarge-font {
    font-size: 50px
  }
  
  .All-Projects .Project .row .column-66 .button {
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .All-Projects .Project .row .column-66 img {
    display: block;
    height: 50px;
    max-width: 70%;
  }
  
  .All-Projects .Project .row .column-33 img {
    display: block;
    height: auto;
    max-width: 100%;
  }


  
    
}

@media screen and (max-width: 600px) and (min-width: 480px) {

  header{
    padding: 0 !important;
  }

  .header-content{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }


  .right-header{
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header  .name{
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 3rem;
  }

  .header-content .left-header .image{
    margin: 0 auto;
    height: 95%;
    width: 60%;
  }

  .header-content .left-header .image img {
    width: 100%;
    height: 100%;
  }  

  .controls{
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }

  .controls .control{
      margin: 1rem .3rem;
  }


  .about-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .left-about{
    padding-left: 120;
    
  }
  .about-container .right-about{
    grid-template-columns: repeat(1, 1fr);
    /* float: center; */
    /* padding-top: 2.5rem; */
    /* margin-left: 0; */
    /* padding-left: 0; */
    /* grid-gap:1rem; */
  }
  .about-container .right-about .image{
    margin: 0 auto;

  }
  .about-container .right-about .image img {

    height: 300px;
    width: 400px;
  }


  
  
  .left-about{
        padding-left: 3.4rem;
  }      
  /* .left-about  p{
            padding-left: 3.5rem;
  }
     */

  .about-skills .programming-skills{
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .container{
    padding: 2rem 2.5rem !important;
  }


  .All-Projects{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }



  .contact-content-con{
    flex-direction: column;
  }
  .contact-content-con  .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
  }
    

  .contact-content-con .right-contact .i-c-2{
      flex-direction: column;
  }
  
  .contact-content-con .right-contact .i-c-2 :last-child{
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact{
    margin-bottom: 6rem;
  }

  .contact-item{
    flex-direction: column;
    margin: 1rem 0;
  }  
  .contact-item  p{
        font-size: 15px;
        color: var(--color-grey-2);
  }
  .contact-item p  span{
        font-size: 15px;
  }
  .contact-item p  .icon{
        grid-template-columns: 25px 1fr;
  }


  .main-title h2{
    font-size: 2rem;
  }      
  .main-title h2  span{
    font-size: 2.3rem;
  }
  .main-title h2  .bg-text{
    font-size: 2.3rem;
  }




  .All-Projects .Project .row .column-66 {
    width: 100%;
  }
  
  .All-Projects .Project .row .column-33 {
    width: 100%;
  }
  
  .All-Projects .Project .row .column-66 .large-font {
    font-size: 40px;
  }
  
  .All-Projects .Project .row .column-66 .xlarge-font {
    font-size: 50px
  }
  
  .All-Projects .Project .row .column-66 .button {
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .All-Projects .Project .row .column-66 img {
    display: block;
    height: 50px;
    max-width: 70%;
  }
  
  .All-Projects .Project .row .column-33 img {
    display: block;
    height: auto;
    max-width: 100%;
  }




}


@media screen and ((max-width: 1070px) and (min-width: 1000px)) {
    .about-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .about-container .right-about {
      padding-top: 2.5rem;
    }
  
    .main-title h2 {
      font-size: 4rem;
    }
    .main-title h2 span {
      font-size: 4rem;
    }
    .main-title h2 .bg-text {
      font-size: 4.5rem;
    }
}


@media screen and ((max-width: 970px) and (min-width: 700px)) {
    .container {
      padding: 7rem 6rem;
    }
  
    .about-container .left-about {
      padding-right: 0rem;
    }
  
    .header-content {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 6rem;
    }
  
    .left-header .h-shape {
      display: none;
    }
    .left-header .image {
      width: 90% !important;
      margin: 0 auto !important;
    }
  
    .right-header {
      grid-row: 1;
      padding-right: 0rem !important;
      width: 90%;
      margin: 0 auto;
    }
    .right-header .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
}


@media screen and (max-width: 700px) and (min-width: 600px) {
 
  header{
    padding: 0 !important;
  }

  .header-content{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }


  .right-header{
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
  }
  .right-header  .name{
        font-size: 2.5rem !important;
        text-align: center;
        padding-top: 3rem;
  }

  .header-content .left-header .image{
    margin: 0 auto;
    height: 95%;
    width: 60%;
  }

  .header-content .left-header .image img {
    width: 100%;
    height: 100%;
  }  

  .controls{
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }

  .controls .control{
      margin: 1rem .3rem;
  }


  .about-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container .right-about{
    grid-template-columns: repeat(1, 1fr);
  
  }
  .about-container .right-about .image{
    margin: 0 auto;

  }
  .about-container .right-about .image img {

    height: 380px;
    width: 500px;
  }


  
  
  .left-about{
        padding-left: 4rem;
  }      


  .about-skills .programming-skills{
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .container{
    padding: 2rem 2.5rem !important;
  }


  .All-Projects{
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }



  .contact-content-con{
    flex-direction: column;
  }
  .contact-content-con  .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
  }
    

  .contact-content-con .right-contact .i-c-2{
      flex-direction: column;
  }
  
  .contact-content-con .right-contact .i-c-2 :last-child{
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact{
    margin-bottom: 6rem;
  }

  .contact-item{
    flex-direction: column;
    margin: 1rem 0;
  }  
  .contact-item  p{
        font-size: 15px;
        color: var(--color-grey-2);
  }
  .contact-item p  span{
        font-size: 15px;
  }
  .contact-item p  .icon{
        grid-template-columns: 25px 1fr;
  }


  .main-title h2{
    font-size: 2rem;
  }      
  .main-title h2  span{
    font-size: 2.3rem;
  }
  .main-title h2  .bg-text{
    font-size: 2.3rem;
  }




  
  .All-Projects .Project .row .column-66 .large-font {
    font-size: 40px;
  }
  
  .All-Projects .Project .row .column-66 .xlarge-font {
    font-size: 50px
  }
  
  .All-Projects .Project .row .column-66 .button {
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .All-Projects .Project .row .column-66 img {
    display: block;
    height: 50px;
    max-width: 70%;
  }
  
  .All-Projects .Project .row .column-33 img {
    display: block;
    height: auto;
    max-width: 100%;
  }

}  
